h1 {
   background-color: #4d4c4b;
   color: #f78b1e;
   text-align: center;
   padding: 5px 10px;
   padding-top: 20px;
   width: 310px;
   margin: 0 auto;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   border-bottom: 4px solid #f78a1e;
   position: relative;
}

h1::before,
h1::after {
   content: ' ';
   position: absolute;
   width: 40px;
   border-bottom: 4px solid #f7891f;
   bottom: -4px;
   left: -40px;
}

h1::after {
   left: auto;
   right: -40px;
}

.image-1{
   border-radius: 50%;
}